*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-fluid{
    
    padding-right: 0;
    padding-left: 0;
}
.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1020;
}
.home{
    background: url("../img/intro-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 150px;
}
#home{
    background: #00000075;
}
#about, #services, #work, #blog, .achievement{
    margin-bottom: 150px !important;
}
.navbar-dark{
    background-color: transparent;
    transition: all .4s;
    color: white;
}
.navbar-light{
    background-color: white;
    padding: 10px 70px 15px;
    transition: all .4s;
    color: #0078ff !important;
}
.navbar-light h2{
    font-size: 1.6rem !important;
}
.active{
    transition: all 1s;
}
nav ul li a::after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: #0078ff;
    display: block;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transition: width 1s;
}
nav ul li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0078ff;
    display: block;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transition: width 1s;
}
.active::after{
   content: "";
    width: 100%;
    height: 2px;
    background-color: #0078ff;
    display: block;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transition: width 1s;
}

.navbar-light a {
    color: #0078ff;
    font-weight: bold;
}
.big-title{
    padding: 170px 0 270px !important;
}
span.slideText {
    font-size: 30px;
}
#work img{
    width: 100%;
    transition: all 1s;
}
.work {
    overflow: hidden;
}
#blog img{
    width: 100%;
}
.author img {
    width: 30px !important;
    border-radius: 50%;
}
#services .fa{
    font-weight: 900;
    font-size: 35px;
    color: #00bbff;
    padding: 30px 15px 15px 15px;
    border: 2px solid #00bbff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: all .75s;
}
.services-item:hover .fa{
    background-color: #00bbff;
    color:white !important;
    cursor: pointer !important;

}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -52px;
    left: 0;
    z-index: 16;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.testimonial{
    background: url("../img/overlay-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 100px;
    
}
.overly-bg, .overlay{
    background: #0078ffad;
    padding:70px 0 100px;

}
.achievement{
    background: url("../img/counters-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.overlay{
    background: #0078ffad;
    padding:150px 0 180px;

}

table {
    border-collapse: collapse;
    max-width: 500px;
    margin: 0 auto;
}
table .fa {
    color: white;
    font-size: 40px;
}

th.counter {
    font-size: 45px;
    color: white;
}

td {
    color: white;
}
.p-item{
    overflow: hidden;

}
.p-item img:hover{
    transform: scale(1.5);
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Preloader_3.gif) center no-repeat #fff;
}