*{
	box-sizing: border-box;
}
a.navbar-brand {
    font-size: 66px;
    font-weight: 900;
}
.navbar-brand{

	font-size: 29px;
}

.navbar-nav{
	
	padding: 20px;
}
li.nav-item {
    padding-left: 33px;
    font-size: 18px;
    font-weight: 500;
}

.firstDiv{
	height: 600px
	;
	overflow: hidden;
	text-align: center;
	background-image: url(../images/team.jpg);
	background-size: cover;
	color: white;
}
.firstDiv h1 {
    margin-top: 250px;
    background: #00000040;
       font-size: 58px;
    font-weight: 700;
}
.firstDiv span {
    margin-top: 50px;
    background: #00000040;
    /* width: 1028px; */
}
.quote{
	background-image: url(../images/blog-img-3.jpg);
	background-size: cover;
	color: black;
	text-align: center;
	height: 270px;
}
.quote h1{
	padding-top: 100px;
}
img{
   width: 100%;
}
.bestsection {
	text-align: center;
	padding: 100px 10px 100px 0px;
}
.bestsection h1{
   padding-bottom: 20px;
}
.bestsection p {
padding-bottom: 60px;
}


.sdiv{
	
	padding: 100px 00px 100px 30px;
	text-align: justify;
}
.sdiv h1{
   padding-bottom: 20px;
}
.sdiv p {
padding-bottom: 60px;
}

.mission{
	text-align: center;
	
	
    padding: 100px 10px 100px 0px;
}
.mission h1{
   padding-bottom: 20px;
}
.mission p {
text-align: justify;
}

.containe{
	background-color: #EEEEEE;
	padding: 100px 10px 100px 0px;
	text-align: justify;
}
.insection{
	text-align: center;
	background-color: #9a969a;
	color: white;
    padding: 60px;
   }
.footersection {
    
    background: #FAFAFA;
    padding: 100px 0px 100px 20px;
}
.footer-copyright.text-center.py-3 {
    background: #EDEDED;
}

div.allcontent {
    background-color: gray;
    width: 650px;
    margin: auto;
    margin-top: 66px;
    border: 1px;
    border-radius: 10px;
}
div.allcontent p {
    text-align: center;
    font-size: 35px;
    padding: 35px;
}
form{
	padding-bottom: 35px;
}
.inform{
	    width: 550px;
    padding: 16px;
    margin-left: 50px;
    margin-bottom: 16px;
    border: 1px;
    border-radius: 5px;
}
button.inform {
    background: #4c4747;
    color: white;
    cursor: pointer;
}

@media (max-width: 991px){
.navbar-collapse{
    padding-left: 45%;

}
}
@media (max-width: 767px){
.navbar-collapse{
    padding-left: 35%;
}
}


/*a.navbar-brand {
    font-size: 50px;
    margin-top: -7px;
}
ul.navbar-nav {
       font-size: 16px;
    font-weight: 800;
    
    @media (max-width: 991px){
.navbar-collapse{
    padding-right: 45%;

}
}
@media (max-width: 767px){
.navbar-collapse{
    padding-right: 35%;
}
}
    margin-left: 530px;
}
li.nav-item {
    padding: 20px;
}




navbar-brand