*{
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    overflow-x: hidden;

}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
     scroll-behavior: smooth;
}
#head{
    background: url("../images/Rectangle-1-copy-7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}
#navbar nav{
    z-index: 1000;
}
#head hr{
    width: 100%;
    border: none;
    border-bottom: .5px solid #ffffff38;
    margin-bottom: 13px;
}

nav a{
    color: white;
    transition: all 1s;
}
.navbar-dark{
    background-color: transparent;
    transition: all .4s;
    color: white;
}
.navbar-light{
    background-color: white;
    padding: 10px 70px 15px;
    transition: all .4s;
    color: #0078ff !important;
}
.navbar-light h2{
    font-size: 1.6rem !important;
}
.active{
    transition: all 1s;
}
nav ul li a::after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: #0078ff;
    display: block;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transition: width 1s;
}
nav ul li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0078ff;
    display: block;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transition: width 1s;
}
.active::after{
   content: "";
    width: 100%;
    height: 2px;
    background-color: #0078ff;
    display: block;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transition: width 1s;
}

.navbar-light a {
    color: #0078ff;
    font-weight: bold;
}
 #about img {
    width: 100%;
    z-index: 1000;
}
.v-section{
    margin-bottom: 100px !important;
    height: auto;
    background: url("../images/Rectangle-532-copy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 96px !important;
}
.v-text {
    padding-bottom: 110px;
    max-width: 600px;
    margin: auto;
}
#contact{
    height: auto;
    background: url("../images/Rectangle-534-copy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 100px !important;
}
.contact{
    max-width: 600px;
    margin: auto;
    padding: 68px 0;
}
#service .fa{
        font-weight: 900;
    font-size: 33px;
    margin: 33px 0px;
    color: #2d1dff;
}
#service .border {
    border: 3px solid #00000014!important;
}
.footer {
    background: #111111;
    padding-top: 100px !important;
}
footer a{
    text-decoration: none;
    color: #c1c1c1;
    transition: all 1s;
}
footer a:hover{
    text-decoration: none;
}
.sidebar{
    height: 56px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 164px;
    background: white;
    box-shadow: -7px 20px 20px 2px #8080803b;
    margin-right: 12px;
    border-bottom: 0px solid #0000005c;
}
.sidebar a{
    text-decoration: none;
}
.sidebar a:hover{
    text-decoration: none;
}
.first{
    padding: 0px 3px;
    border-radius: 5px 5px 0px 0px;
}
.second{
    margin-top: 220px;  
}
.third{
    margin-top: 275px;
    padding: 2px 3px;
}
.forth{
    margin-top: 330px;
    padding: 0px 3px 0px 0px;
}
.fifth{
    margin-top: 385px;
    padding: 0px 3px 0px 0px;
}
.sixth{
    margin-top: 440px;
    padding: 0px 3px 0px 0px;
    border-radius: 0px 0px 5px 5px;
}
.sidebar p{
    display:none ;
    padding: 14px;
    margin-right: 100px;
    font-size: 16px;
    color: gray;
    border-bottom: 1px solid #80808038;
}
.sidebar .fa{
    display: block;
    padding: 14px;
    font-size: 26px;
    color: gray;
    /* border-bottom: 1px solid #80808038; */
}
.sidebar .fa:hover{
    color: blue;
}
.sidebar .fa:hover .sidebar p{
    cursor: pointer;
    display: block;
}
.side-hover {
    position: absolute;
    background-color: #ffffff;
    color: #32343d;
    padding: 20px 28px 14px 26px;
    transform: translateX(-70%);
    left: 0px;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.2s all ease-in-out;
    z-index: -100;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 13px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.08);
    height: 56px;
}
.side-item:hover + .side-hover {
    opacity: 1;
    transform: translateX(-97%);
}
.sidebar-all{
    background: white;

}
.go-top{
    
    position: fixed;
        
    bottom: 0;
        
    right: 0;
        
    background: #11111100;

        
    border-radius: 5px;
        
    margin-right: 12px;
    }
.go-top .fa{
    display: block;
    padding: 14px;
    font-size: 26px;
    color: #80808061;
    transition: all 1s;
  
}
.go-top .fa:hover{
    color:blue;
}
.go-top a:hover{
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .sidebar, .info{
        display: none;
     
    }
    .display-2{
        font-size: 3.4rem !important;
    }
    .display-4{
        font-size: 2.4rem ;
    }
  }
  .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader_2.gif) center no-repeat #fff;
}