*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: monospace;
}
body{
background-color: #BEC3C7;
margin-top: 40px;
}
h4{

}
.maindiv{
width:450px;
border: 1px ;
border-radius: 50px;
margin: auto;
background-color: #2A80B9

}
p{
text-align: center;
color: white;
padding: 26px;
font-size: 40px;
font-weight: bold;
}
.allconetn{
width:450px;
background-color: #2C3D4F;
padding-top: 25px;
border-radius: 0px 0px 50px 50px;
}
.dataInput{
padding: 10px;
width: 300px;
border: 1px;
border-radius: 15px;
margin: 10px;
margin-left: 75px;
}
}
#termsCondition {
text-align: center;}
.button{
text-align: center;
color:white;
}
a {
text-decoration: none;
color: #3f6bd0;}
button {
margin: 20px;
padding: 6px 25px 6px 25px;
color: white;
background-color: #2a80b9;
border-radius: 13px;
border: 1px;
font-size: 18px;
font-weight: 700;    
margin-bottom: 45px;
cursor:pointer;
}
